{% extends "app/layout.html" %}

{% block content %}

<h2>{{title}}.</h2>

<p>This is a sample polls application that demonstrates the use of Django web framework.</p>
<h3>Problem</h3>
    <p>When companies come to campus, they often hold talks or events and the students usually need to login, write names, or sign-in so they can have the students information
There is also a difficulty to measure the impact of events </p>

<h3>Proposed Solution</h3>
<p>Implement a responsive web application for logging in at the beginning of events
Have a mobile application on devices and students choose to login and logout at the end of events
Events will then be posted on the web or mobile application and students will take an impact survey after each event
Once the student completes the survey they gain points which they can accumulate throughout the semester
The points can be used in a raffle draw at the end of the semester to provide the winner with meaningful prizes/swag
</p>
<h3>Effect</h3>

<p>Attendance at events will increase 
Student's reactions/feedback will be tracked throughout the semester
Students will gain new information attending these events </p>
{% endblock %}
